<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>749294310943-9clh1ljep6l6vmbpmjgglv24t02eui8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749294310943-9clh1ljep6l6vmbpmjgglv24t02eui8n</string>
	<key>API_KEY</key>
	<string>AIzaSyDr6eCm6Mpl3WZx9uHf2tenwjc7k-8z7pE</string>
	<key>GCM_SENDER_ID</key>
	<string>749294310943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ludovicsaussinan.SpotMark</string>
	<key>PROJECT_ID</key>
	<string>spotmark-63564</string>
	<key>STORAGE_BUCKET</key>
	<string>spotmark-63564.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749294310943:ios:6ea00ba8518d6b01</string>
	<key>DATABASE_URL</key>
	<string>https://spotmark-63564.firebaseio.com</string>
</dict>
</plist>